<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库地址-->
    <add key="Yizuan.Common.UserCenter" value="Database=system_user_center;Data Source=localhost;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306" />
    <!--Redis地址-->
    <add key="RedisConnectionString" value="127.0.0.1:6379" />
    <!--以分钟为单位的RefreshToken过期时间，-1表示不过期-->
    <add key="RefreshTokenExpiresMinute" value="-1" />
    <!--以分钟为单位的AccessToken过期时间，-1表示不过期-->
    <add key="AccessTokenExpiresMinute" value="-1" />
    <!--日志记录的地址-->
    <add key="LogPath" value="c:\log\user" />
    <!--是否开启跟踪日志-->
    <add key="LogMonitor" value="true" />
    <!--是否开启SQL语句日志-->
    <add key="LogSql" value="true" />

    <!--配置是否走短信验证码，用于前端联调跳过麻烦的短信验证码流程,true为走验证码验证,false为不走验证码验证-->
    <add key="CodeValidate" value="false" />

    <!--头像默认地址-->
    <add key="AvatarUrlPath" value="images/loginF.png" />

    <!--短信验证码接口-->
    <add key="SmsApiRequestUrl" value="http://192.168.188.157/GoodLin-Sms-External-Api" />

    <!--短信验证码接口ClientKey的值-->
    <add key="SmsApiClientKey" value="38E5F8B9-B921-4109-994F-7FF49070816E" />

    <!--图片验证码接口-->
    <add key="VerifyImageRequestUrl" value="http://192.168.188.157/GoodLin-OSS-External-Api" />

    <!--图片验证码接口ClientKey的值-->
    <add key="VerifyImageClientKey" value="CF106E34-7D54-4CCE-8577-353CBBF019F5" />

    <!--用户账号和密码登录错误次数，超过错误次数出现图片验证码-->
    <add key="LoginErrorCount" value="3" />

    <!--我要合作,邮件接收者邮箱地址-->
    <add key="EmailTo" value="wuhuaizhi@yizuanbao.cn" />

    <!--我要合作,邮件被抄送人地址-->
    <add key="EmailCC" value="xiangchunyan@yizuanbao.cn" />

    <!--我要合作,发送邮件账号-->
    <add key="EmailUserName" value="rd@yizuanbao.cn" />

    <!--我要合作,发送邮件密码-->
    <add key="EmailUserPassword" value="YiZuanBao123" />

    <!--日志地址-->
    <add key="LogPath" value="c:\log\GoodLin.User.External.Service.Api" />
    <!--日志记录的地址-->
    <add key="LogPath" value="c:\log\auth" />
    <!--是否开启跟踪日志-->
    <add key="LogMonitor" value="False" />
    <!--是否开启SQL语句日志-->
    <add key="LogSql" value="False" />
    <!--以分钟为单位的RefreshToken过期时间，-1表示不过期-->
    <add key="RefreshTokenExpiresMinute" value="-1" />
    <!--以分钟为单位的AccessToken过期时间，-1表示不过期-->
    <add key="AccessTokenExpiresMinute" value="-1" />
    <!--服务器唯一标识-->
    <add key="ServiceKey" value="77E6A88F-390E-49FC-BD5F-B9E43C45ED5C" />
    <!--服务器唯一标识-->
    <add key="OAuthServiceURL" value="http://localhost:19666" />
    <add key="UCURL" value="http://localhost:16542" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>